@import "reset.css";
@import "./fonts/init.css";

body {
    background: black;
}

.main {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0 25%;
    font-size: 2em;
    transform: perspective(5em) rotateX(35deg);
}

.text-box {
    position: absolute;
    animation-name: running-text;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.paragraph-box {
    color: #f2b22b;
    text-align: center;
    line-height: 1.3em;
    margin: 1.1em 0 1.5em 0;
}

.paragraph-box:nth-child(-n+2) {
    text-transform: uppercase;
}

@keyframes running-text {
    0% {
        top: 100%;
        opacity: 0;
    }

    20% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: -300%;
        opacity: 0;
    }
}


