@import "reset.css";
@import "global.css";

.main-box {
    width: 1280px;
    margin: 0 auto;
    padding: 61px 0 0 20px;
}

.header {
    height: 74px;
    margin-bottom: 45px;
}

.logo {
    text-decoration: none;
}

.top-logo {
    font-size: 80px;
    color: #000000;
    text-decoration: none;
}

.color-text {
    color: #4bcaff;
}

.navigation {
    height: 69px;
    width: 100%;
    margin-bottom: 51px;
    background-color: #35444f;
}

.navigation-list {
    display: table;
    line-height: 69px;
    margin: 0 auto;
}

.navigation-list-item {
    display: inline-block;
    padding-right: 80px;
    text-align: center;
}

.navigation-link {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

.sidenav {
    display: inline-block;
    width: 335px;
    height: 100%;
    border: 1px solid #35444f;
    vertical-align: top;
    margin-right: 52px;
}

.sidenav-list {
    width: 335px;
}

.sidenav-list-item {
    width: 335px;
    height: 81px;
    line-height: 81px;
    padding-left: 44px;
}

.sidenav-link {
    font-size: 30px;
    color: #485863;
    text-decoration: none;
    vertical-align: middle;
}

.content-box {
    display: inline-block;
    width: 885px;
    height: 100%;
    margin-bottom: 50px;
}

.img-box {
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
    line-height: 529px;
    position: relative;
    margin: 0 0 50px 0;
}

.img-logo {
    display: inline-block;
    width: 320px;
    height: 380px;
    position: absolute;
    left: 280px;
    top: 75px;
}

.img-about {
    font-size: 18px;
    line-height: 22px;
    padding: 0 30px;
}

.img-about-info {
    width: 815px;
    height: 100%;
    margin-bottom: 50px;
}

.footer {
    height: 70px;
    background-color: #b4b7ba;
    margin-bottom: 30px;
}

.footer-left {
    font-size: 28px;
    float: left;
}

.footer-left a {
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    padding-left: 35px;
    color: #0c1927;
    text-decoration: none;
}

.footer-right {
    font-size: 24px;
    float: right;
}

.copyright {
    height: 70px;
    vertical-align: middle;
    line-height: 70px;
    margin-right: 35px;
}
