.body {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
}

.main-box {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}