@import "reset.css";
@import "global.css";

.box {
    width: 1060px;
    margin: 0 auto;
    padding: 49px 150px 20px 150px;
 }

.box:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: ' ';
}

.header {
    margin-bottom: 45px;
    height: 44px;
}

.header:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
}

.header-left {
    height: 44px;
    color: #FFFFFF;
    line-height: 44px;
    float: left;
    width: 50%;
    text-decoration: none;
}

.header-left:hover {
    color: #f26522;
}

.header-left:hover > .logo {
    background-image: url("../img/logo1.png");
}

.logo {
    width: 46px;
    height: 44px;
    float: left;
    margin-right: 15px;
}


.logo-name-1 {
    display: block;
    height: 22px;
    line-height: 22px;
    margin-bottom: 7px;
    font-size: 29px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.logo-name-2 {
    display: block;
    height: 13px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.header-right {
    height: 44px;
    color: #FFFFFF;
    float: right;
    text-align: right;
}

.email {
    display: block;
    height: 18px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

.number {
    display: block;
    height: 18px;
    font-size: 18px;
}

.content {
    width: 1060px;
}

.price {
    position: relative;
    float: left;
    width: 312px;
    height: 250px;
    margin: 0 62px 90px 0;
    color: #FFFFFF;
    text-decoration: none;
}

.price:hover > .description {
    bottom: 48px;
    visibility: visible;
}

.price:hover > .img-box > .caption {
    color: #f26522;
}

.price:nth-child(3), .price:nth-child(6) {
    margin-right: 0;
}

.img-box {
    position: relative;
    width: 312px;
    height: 205px;
}

.img {
    width: 307px;
    height: 200px;
}

.caption {
    width: 307px;
    height: 40px;
    line-height: 40px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.description {
    width: 308px;
    height: 63px;
    position: absolute;
    visibility: hidden;
    background-color: #f26522;
    bottom: 48px;
}

.price-info {
    height: 63px;
    width: 50%;
    float: left;
}

.from {
    margin: 16px 0 3px 21px;
    font-size: 10px;
}

.price-value {
    margin-left: 21px;
    font-size: 20px;
}

.details-box {
    display: table-cell;
    height: 63px;
    width: 50%;
}

.details {
    position: relative;
    float: right;
    margin: 30px 40px 0 0;
    font-size: 14px;
    text-align: right;
    vertical-align: baseline;
}

.arrow {
    margin-right: 18px;
}

.arrow-img {
    position: relative;
    float: right;
    bottom: 30px;
}


.footer {
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

