.main {
    height: 745px;
    background-color: #3a4965;
    padding: 22px 28px 28px 22px;
}

.price-table {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    border: 0;
    border-collapse: collapse;
}