@import "reset.css";
@import "./fonts/init.css";
@import "global.css";

.table-row {
    height: 69px;
    vertical-align: middle;
}

.table-row:nth-child(2),.table-row:nth-child(4), .table-row:nth-child(6), .table-row:nth-child(8) {
    background-color: #f2f2f2;
}

.table-row:nth-child(2n+1) {
    background-color: #e3e3e3;
}

.table-row:nth-child(2) {
    height: 86px;
}

.table-row:first-child {
    color: #FFFFFF;
    font-size: 24px;
}

.table-row:last-child {
    color: #FFFFFF;
    font-weight: bold;
    height: 110px;
    padding: 32px 50px;
}

.header {
    vertical-align: middle;
    font-weight: bold;
}

.header:nth-child(3) {
    font-size: 30px;
}

.top-left-cell {
    background-color: #fafafa;
    color: #484848;
}

.choose-your {
    font-size: 18px;
    line-height: 30px;
}

.pricing-plan {
    font-size: 30px;
    line-height: 30px;
}

.green-cell {
    background-color: #89c331;
}

.green-border {
    border-bottom: 3px solid #79b027;
}

.red-cell {
    background-color: #f04a56;
}

.red-border {
    border-bottom: 3px solid #df3a46;
}

.blue-cell {
    background-color: #20807c;
}

.blue-border {
    border-bottom: 3px solid #16736f;
}

.dollars {
    font-size: 60px;
    line-height: 60px;
    text-align: right;
    float: left;
    width: 50%;
}

.cents {
    font-size: 24px;
    text-align: left;
    float: left;
    width: 50%;
    line-height: 35px;
}

.period {
    font-size: 18px;
    float: left;
    width: 50%;
    text-align: left;
    line-height: 18px;
}

.table-info {
    vertical-align: middle;
    box-shadow: inset 4px 0 4px -4px rgba(156,156,156,1);
}

.icons {
    font-size: 22px;
    margin-right: 12px;
}

.button-box {
    display: inline-block;
    width: 194px;
    height: 49px;
    line-height: 50px;
    border-right: 5px;
}

.button-box:hover {
    filter: brightness(85%);
}

.button {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.bottom-left-cell {
    background-color: #dddddd;
}

.grey-cell {
    background-color: #484848;
}

.grey-border {
    border-bottom: 3px solid #404040;
}





