@import "./reset.css";

.body {
    font-family: AdobeInvisFont, Roboto, "Courier New", sans-serif;
}

.header {
    background-color: #ffffff;
    padding: 30px 0 0 332px;
}

.header a {
    display: inline-block;
    width: 130px;
    padding: 0 60px 30px 0;
    color: #16a085;

    font-family: AdobeInvisFont, Roboto, "Courier New", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.content {
    background-color: #F5F6F7;
}

.intro {
    padding: 0 113px 0 113px;
}

.intro-title {
    width: 617px;
    height: 17px;
    margin: 50px 0 34px 342px;

    text-transform: uppercase;
    color: #373737;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}

.intro-text p {
    padding: 0 0 40px 0;
    color: #373737;
    text-align: center;
    text-indent: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
}

.button {
    height:52px;
    width:193px;
    background-color: #16A085;
    margin: 0 0 94px 630px;
}

.button a {
    width: 193px;
    display: inline-block;
    padding: 20px 0 0 0;
    color: #FFFFFF;

    text-align: center;
    text-decoration: none;
    font-family: GothamRounded-Bold, AdobeInvisFont, MyriadPro-Regular, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.footer {
    width: 1450px;
    height: 108px;
    background-color: #FFFFFF; /* Цвет фона */
}

.footer p {
    display: inline-block;
    float: right;
    margin: 47px 104px 0 0;

    font-family: AdobeInvisFont, Roboto, "Courier New", sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #373737;
    text-align: center;
    text-decoration: none;
}
